@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=Cardo');
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
html {
    font-family: 'Cardo', serif;
    font-size: 15pt;
    color: #010000;
    background: url(../img/paper.jpg) top left repeat;
    background-size: cover;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 600px auto auto;
    line-height: 1.5;
}
strong{
    font-weight: bold;
}

h1 {
    font-family: "Alex Brush", cursive;
    font-size: 38pt;
    padding: 10px 0;
    border-bottom: 10px solid rgba(147,101,21,0.5);
    margin: 20px 0;
}
h2 {
    font-family: "Alex Brush", cursive;
    font-size: 26pt;
    padding: 10px 0;
    margin: 20px 0;
}
p, ul {
    border-left: 1px solid #010000; /*rgba(147,101,21,0.5);*/
    padding: 20px;
}

ul li{
    margin-bottom: 2em;
}

a {
    font-family: "Alex Brush", cursive;
    font-weight: bold;
    font-size: 22pt;
    color: #010000;  /*rgba(147,101,21,0.9);*/
    /*-webkit-text-stroke: 2px rgba(147,101,21,0.5);
    text-stroke: 2px rgba(147,101,21,0.5);*/
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

header {
    background: url(../img/cavalcade.jpg) center center no-repeat;
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
    border-bottom: 1px solid #010000;
}

ul.nav-links {
    background: none;
    display: grid;
    grid-template-rows: 64px;
    grid-template-columns: 64px 64px 64px 64px;
    border-left: none;
    margin: 20px;
    float: right;
}
ul.nav-links li {
    grid-row: 1;
}
ul.nav-links li.hidden {
    visibility: hidden;
}
ul.nav-links li a {
    border: 1px solid #010000;
    display: block;
    height: 60px;
    width: 60px;
    text-indent: -9999px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}
ul.nav-links li a:hover{
    background-color: rgba(147,101,21,0.5);
}
ul.nav-links li.home a{
    background-image: url(../img/icons/home.png);
}
ul.nav-links li.twitter a{
    background-image: url(../img/icons/twitter.png);
}
ul.nav-links li.bitbucket a{
    background-image: url(../img/icons/bitbucket.png);
}
ul.nav-links li.github a{
    background-image: url(../img/icons/github.png);
}

section.content {
    grid-column: 1;
    grid-row: 2;
}
section.content div.inner {
    width: 75%;
    margin: 0 auto;
    padding: 30px 30px 50px;
    box-sizing: border-box;
    max-width: 1024px;
}
section.content div.inner.homepage{
    background: url(../img/decor/werewolf.png) bottom 30px right no-repeat;
}
section.content div.inner.entries{
    background: url(../img/decor/sea-devil.png) bottom 30px right no-repeat;
    padding-bottom: 397px;
}

footer {
    background: rgba(147,101,21,0.5);
    grid-column: 1;
    grid-row: 3;
}