<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
        <link href="/resources/css/reset.css" rel="stylesheet">
        <link href="/resources/css/styles.css" rel="stylesheet">
        <script type="text/javascript" data-main="/resources/scripts/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
        <title>{{ page_title }}</title>
    </head>
    <body>
        <header>
            <ul class="nav-links">
                <li class="home {%  if homepage %}hidden{% endif %}"><a href="/">THEMONSTROUSCAVALCA.DE</a></li>
                <li class="twitter"><a href="http://twitter.com/fatconan">Twitter</a></li>
                <li class="github"><a href="http://github.com/fatconan">Github</a></li>
                <li class="bitbucket"><a href="http://bitbucket.com/fatconan">Bitbucket</a></li>
            </ul>
        </header>
        <section class="content {{ extended_classes }}">
            <div class="inner {{ extended_classes }}">
                {% block extension %}{% endblock %}
            </div>
        </section>
        <footer>
            <p>Created using <a href="https://github.com/NeuralSandwich/stone">stone</a> by <a href="https://github.com/NeuralSandwich">NeuralSandwich</a></p>
        </footer>
    </body>
</html>